
*,
*:before,
*:after {
    box-sizing: border-box;}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;}

body {
    margin: 0;}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;}


header {
    background:  url(./img/header-background.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;}

.header__inner{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background: url(./img/nav__background.jpg);}
    

.header__logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    color: #616161;}

.header__text {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 270px;
    font-weight: 400;

}
    

span {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    color:#fc5f45;}

nav{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

.nav__link {
    text-decoration: none;
    color: #616161;
    margin-left: 20px;
}


